@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.project-container{
    background: #1A1A1A;
    padding: 10px 0px 30px 0px;
    border-radius: 0px 0px 60px 60px;
}
.project-container{
    color: rgb(151, 146, 146);
    text-align: center;
}
.project-container h2{
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    text-align: center;
    margin-top: 3rem;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    
}
.project-container span{
    color:  rgb(13, 114, 245);
    display: block;
    width: 100%;
}
.project-links-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.project-links-button button{
    font-size: 1rem;
    border-radius: 40px;
    outline: none;
    background-color:  rgb(13, 114, 245);
    border: 1px solid rgb(66, 65, 65);
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 6px 15px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    animation-name: button-animation;
    animation-duration: 4s infinite alternate;
}
.project-container button:hover{
    background-color:  rgb(3, 69, 155);
    transition: ease-in-out;
    transition-duration: 1s;
    color: black;
  }
  /* @keyframes button-animation {
    0% { background-color: red; }
    50% { background-color: rgb(255, 85, 24); }
    100% { background-color: orange; }
  } */
  .project-content {
    margin-top: 30px;
  }
  
  .project-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 33px;
    padding: 20px;
  }
  .project-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  } */
  .project-item-image {
    width: 100%;
    height: auto;
    max-height: 50vh;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid rgb(0, 132, 255);
  }
  
  .project-item h4 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-style: normal;
    font-style: normal;
    text-align: center;
    
  }
.projects-title-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 
.projects-title-links p{
  font-size: 1.2rem;
    font-style: normal;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
} 
.projects-title-links a{
  color: rgb(45, 111, 255);
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  transition: 0.4s ease-in-out;
}
.projects-title-links a:hover{
  color: rgb(37, 1, 197);
  text-decoration: none;
  font-size: 1.4rem;
  rotate: 50deg;
}
.projects-title-links a:active{
  color: yellow;
  text-decoration: none;
  font-size: 1.4rem;
}
@media (max-width:1024px){
    .project-container h2{
        font-size: 2.3rem;
        margin-top: 3rem;
    }
}
@media (max-width: 768px) {
    .project-container h2{
        font-size: 2.3rem;
        margin-top: 3rem;
    }
}
@media (max-width: 480px) {
    .project-container h2{
        font-size: 2rem;
        margin-top: 2rem;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
