*{
  margin: 0;
  box-sizing: border-box;
}
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: end;
  box-sizing: border-box;
}
.navbar-components{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
  padding: 20px;
}
.navbar-components nav{
  display: flex;
  justify-content: end;
  cursor: pointer;
  font-size: 1.3rem;
}
.navbar-components ul li {
  text-decoration: none;
  list-style: none;
}

/* contact buuton */
.contact-container button{
  text-align: center;
  background-color: rgb(255, 85, 24);
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 6px 15px;
  cursor: pointer;
  animation-name: button-animation;
  animation-duration: 4s infinite alternate;
}
.contact-container button:hover{
  background-color: orange;
}
@keyframes button-animation {
  0% { background-color: red; }
  50% { background-color: rgb(255, 85, 24); }
  100% { background-color: orange; }
}
.contact-pricing button{
  text-align: center;
  background-color: white;
  color: rgb(255, 85, 24);
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  border: 1px solid  rgb(255, 85, 24);
  padding: 6px 15px;
  cursor: pointer;
  animation-name: button-animation;
  animation-duration: 4s infinite alternate;
}
.contact-pricing button:hover{
  background-color: rgb(255, 85, 24);
  color: white;
  transition: ease-in-out;
  transition-duration: 2s;
}
  