@import "tailwindcss";

body{
  font-family: 'Melodrama', serif;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 .brand-name {
  /* font-family: 'Melodrama', serif; */
    font-family: 'Clash Grotesk', sans-serif;
}

p, li, a, span, button, input, textarea .body-text-view{
  font-family: 'Clash Grotesk', sans-serif;
}

.custom-gradient{
 background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.custom-gradient2 {
  color: rgb(90, 90, 170);
}

/* scrollbar */

::-webkit-scrollbar {
  width: 0px; 
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(112, 112, 250);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: blue;
}

.country{
  background: white;
  border: 3px solid transparent; 
  border-image: url('https://cdn.pixabay.com/photo/2022/06/26/20/47/cover-7286281_1280.jpg') 30 round;
}

.design-bg{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsU41Y0jOw3lttMu4TCEaadptaCSqgDtg3aA&s');
  object-fit: cover;
  border: 3px solid transparent; 
  border-image: url('https://www.shutterstock.com/image-photo/empty-product-placement-stage-natural-600nw-2518019831.jpg') 30 round;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

